
<div class="container">
    <div class="col-sm-4">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h2>LOGIN</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" formControlName="email">
              <span *ngIf="email?.invalid && email?.touched" style="color: red;">Enter a valid Email</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="pass">
              <span *ngIf="pass?.invalid && pass?.touched" style="color: red;">Enter a valid Email</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

